<div id="page-content">
    <div class="container" id="home-container">
      <div class="jumbotron text-center text-white">
        <h1 class="display-4">Alpha Blog</h1>
        <p class="lead">Place where you share innovative ideas </p>
        <hr class="my-4">
        <p>The value of an idea lies in the using of it..</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>
  </div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; Vamshi lingala</small>
    </div>
  </footer>